In [ ]:
!pip install pymssql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymssql
  Downloading pymssql-2.2.5-cp37-cp37m-manylinux_2_24_x86_64.whl (2.6 MB)
     |████████████████████████████████| 2.6 MB 5.2 MB/s
Installing collected packages: pymssql
Successfully installed pymssql-2.2.5

In [ ]:
import pandas as pd
import pymssql
conn = pymssql.connect(server='213.140.22.237\SQLEXPRESS', user='giodice.andrea',                                        password='CarloCracco1962', database='giodice.andrea')

In [ ]:
query = 'SELECT * FROM production.products'
df = pd.read_sql(query,conn)

In [ ]:
df.head(10)

,product_id,product_name,brand_id,category_id,model_year,list_price
0,1,Trek 820 - 2016,9,6,2016,379.99
1,2,Ritchey Timberwolf Frameset - 2016,5,6,2016,749.99
2,3,Surly Wednesday Frameset - 2016,8,6,2016,999.99
3,4,Trek Fuel EX 8 29 - 2016,9,6,2016,2899.99
4,5,Heller Shagamaw Frame - 2016,3,6,2016,1320.99
5,6,Surly Ice Cream Truck Frameset - 2016,8,6,2016,469.99
6,7,Trek Slash 8 27.5 - 2016,9,6,2016,3999.99
7,8,Trek Remedy 29 Carbon Frameset - 2016,9,6,2016,1799.99
8,9,Trek Conduit+ - 2016,9,5,2016,2999.99
9,10,Surly Straggler - 2016,8,4,2016,1549.00

In [ ]:
query = 'SELECT model_year, count(*) as numero_prodotti FROM production.products GROUP BY model_year ORDER BY numero_prodotti desc'
df = pd.read_sql(query,conn)
df

   model_year  numero_prodotti
0        2018              204
1        2017               85
2        2016               26
3        2019                6